:root { 
--black_900_00:#00000000; 
--black_900:#000000; 
--black_900_72:#00000072; 
--orange_400_00:#ffa72200; 
--orange_400_66:#ffa72266; 
--orange_500_4c:#ff99004c; 
--orange_400_3f:#ffa7223f; 
--gray_900:#121212; 
--orange_400_38:#ffa72238; 
--orange_400:#ffa722; 
--black_900_3f:#0000003f; 
--white_A700:#ffffff; 
}